* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    background-color: #FED100;
    text-align: center;
    height: 44px;
}


/*--------nav---------*/

nav {
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul a li,
a {
    color: white;
    font-size: 15px;
}

nav ul li:nth-child(2) a {
    color: #FFF200;
}

nav ul li:nth-child(2) i {
    color: #FFF200;
    font-size: 15px;
    margin-left: 6px;
}

nav ul li:nth-child(3) {
    position: relative;
}

nav ul li:nth-child(3) input {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding-left: 6px;
    outline: none;
}

nav ul li:nth-child(3) i {
    position: absolute;
    font-size: 20px;
    right: 12px;
    color: #333;
    line-height: 30px;
}

nav ul li:nth-child(4) button {
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(70, 69, 69);
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li:nth-child(4) button i {
    margin-right: 6px;
}

nav ul li:nth-child(4) button:hover {
    background-color: rgb(110, 108, 108);
    color: white;
}

nav ul li:nth-child(5) {
    text-align: center;
}

nav ul li:nth-child(5):hover a {
    color: #FFF200;
}

nav ul li:nth-child(6) {
    text-align: center;
}

nav ul li:nth-child(6):hover a {
    color: #FFF200;
}

nav ul li:nth-child(7) {
    text-align: center;
}

nav ul li:nth-child(7):hover a {
    color: #FFF200;
}

nav ul li:nth-child(8) {
    text-align: center;
}

nav ul li:nth-child(8):hover a {
    color: #FFF200;
}

nav ul li:nth-child(9) {
    text-align: center;
}

nav ul li:nth-child(9):hover a {
    color: #FFF200;
}


/*----------------menu-bar--------------*/

.menu-bar {
    background-color: rgb(254, 209, 0);
}

.menu-bar ul {
    display: flex;
    /* justify-content: space-between; */
    text-align: center;
}

.menu-bar ul li a {
    color: black;
    font-size: 14px;
}

.menu-bar ul li a i {
    margin-right: 6px;
    font-size: 15px;
}

.menu-bar-content>ul>li {
    padding: 12px 11px;
    transition: all 0.3s ease;
}

.menu-bar ul li:hover {
    background-color: white;
}

.menu-bar-content>ul>li:nth-child(9) {
    position: relative;
}

.menu-bar-content>ul>li:nth-child(9):before {
    position: absolute;
    content: "Giảm 5%";
    display: block;
    height: 12px;
    width: 45px;
    background-color: rgb(245, 18, 18);
    border-radius: 5px;
    right: -24px;
    top: 0.5px;
    font-size: 10px;
    padding-left: 3px;
    color: #fff;
}

.menu-bar-content>ul>li:nth-child(9)::after {
    position: absolute;
    content: "";
    background-color: #F51212;
    height: 7px;
    width: 7px;
    display: block;
    top: 9px;
    right: 10px;
    z-index: 2;
    transform: rotate(45deg);
}


/*-------------adress form--------*/

.adress-form {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    display: none;
    z-index: 999;
}

.adress-form-content {
    width: 450px;
    height: 450px;
    background-color: white;
    border-radius: 5px;
}

.adress-form-content form {
    padding: 12px 40px;
}

.adress-form-content h2 {
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.adress-form-content h2 span {
    display: block;
    position: absolute;
    padding: 0 6px;
    height: 30px;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}

.adress-form-content form p {
    font-size: 15px;
}

.adress-form-content form input,
select {
    height: 45px;
    display: block;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 5px;
}

.adress-form-content form button {
    margin-top: 20px;
    height: 34px;
    width: 70%;
    cursor: pointer;
    background-color: #F97D10;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.adress-form-content form button:hover {
    color: #FFF200;
}


/*----------------submenu-------------*/

.menu-bar-content ul li {
    position: relative;
}

.submenu {
    position: absolute;
    background-color: #ddd;
    width: 200px;
    height: auto;
    left: 0;
    top: 100%;
    padding: 20px;
    display: none;
    z-index: 10;
}

.submenu ul {
    display: flex;
    flex-direction: column;
}

.submenu ul li {
    padding: 6px 0;
}

.submenu ul li:hover a {
    color: #F51212;
}

.submenu ul li:hover {
    background: none;
}

.menu-bar-content ul li:hover .submenu {
    display: block;
}


/*----------------submenu-------------*/

.menu-bar-content ul li {
    position: relative;
}

.submenu1 {
    position: absolute;
    background-color: #ddd;
    width: 200px;
    height: auto;
    left: 0;
    top: 100%;
    padding: 20px;
    display: none;
    z-index: 10;
}

.submenu1 ul {
    display: flex;
    flex-direction: column;
}

.submenu1 ul li {
    padding: 6px 0;
}

.submenu1 ul li:hover a {
    color: #F51212;
}

.submenu1 ul li:hover {
    background: none;
}

.menu-bar-content ul li:hover .submenu1 {
    display: block;
}


/*--------------register----------*/

.register {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 200px;
    left: 200px;
    background-color: #fff;
}

.register h2 {
    font-size: 18px;
    margin-top: 20px;
}

.register ul {
    display: flex;
}

.register ul li {
    padding: 6px 12px;
    border: 1px solid #ddd;
    margin-left: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.register ul li a:hover {
    color: #F51212;
}

.register ul li a {
    color: black;
    transition: all 0.3s ease;
}

:root {
    --bg1: #9b59b6;
    --bg2: #3498db;
    --text: #26ade4;
}

a {
    text-decoration: none;
    color: black;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, var(--bg1), var(--bg2));
}

.form-login {
    width: 300px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
    padding: 40px 30px;
}

.form-login h1 {
    margin-bottom: 40px;
}

.form-login button {
    height: 35px;
    width: 100%;
    margin-bottom: 30px;
    background: linear-gradient(120deg, var(--bg1), var(--bg2), var(--bg1));
    border: none;
    color: #fff;
    border-radius: 5px;
    background-size: 200%;
    transition: 0.5s
}

.form-login button:hover {
    background-position: right;
}

.form-login a {
    color: #fff;
}

.form-login span a {
    color: #26ade4;
}

.form-text {
    margin-bottom: 40px;
    position: relative;
}

.form-text input {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
    padding-left: 12px;
}

.form-text label {
    position: absolute;
    left: 12px;
    bottom: 12px;
    transition: 0.5s;
}

.form-text label.focus {
    transform: translateY(-45px);
}